.hero {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;

    &__main {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }

    &__title {
        text-wrap: balance;
    }

    &__slogan {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
    }

    &__logo {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: $tablet) {
    .hero {
        &__logo {
            padding: 30px 15px;

            img {
                width: 120px;
                height: 120px;
            }

        }
    }
}

@media screen and (max-width: $mobile) {
    .hero {
        flex-direction: column-reverse;
        align-items: flex-start;

        &__logo {
            padding: 20px;
        }

        &__slogan {
            letter-spacing: 0.29px;
        }
    }
}
