.page-home {
    &__page-content {
        padding-top: 0;
    }

    &__search-form {
        margin: 20px 0;
    }

    &__statistic {
        margin: 60px 0;
    }

    &__protection {
        margin-top: 60px;
    }
}

@media screen and (max-width: $desktop) {
    .page-home__page-content {
        padding-top: var(--header-height);
    }
}

@media screen and (max-width: $mobile) {
    .page-home {
        &__search-form {
            margin: 40px 0;
        }
    }
}




