.protect-section {
    padding: 32px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient( rgba(33, 34, 51, 0.92), rgba(33, 34, 51, 0.92)), url("@/assets/img/protect-bg.jpg") 50% / cover no-repeat;

    &__content-wrapper {
        max-width: 408px;
    }

    &__description {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 500;
        line-height: 146%;
    }

    &__btn {
        margin-top: 32px;
        padding: 14px 51px;
    }
}


@media screen and (max-width: $mobile) {
    .protect-section{
        flex-direction: column;
        gap: 24px;
        text-align: center;

        &__btn {
            padding: 15px;
            width: 240px;
        }
    }
}
