* {
    box-sizing: border-box;
}

#app {
    display: flex;
    width: 100%;
}

.page__body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: url("@/assets/img/main-bg.svg") top center / cover no-repeat, rgba(65, 76, 131, 0.60);
    background-attachment: fixed;
    display: flex;
    height: max-content;
    scrollbar-gutter: stable;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 400;
    color: $color-white;

    &--overflow {
        height: 100vh;
        overflow: hidden;
        scrollbar-gutter: stable;
    }
}

.page {
    background: #232326;
}

.container {
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;

    &--centered-x {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.page-content {
    flex-grow: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 100%;
}


@media screen and (max-width: $desktop) {
    .page-content {
        padding-top: calc(var(--header-height) + 60px);
    }
}

@media screen and (max-width: $mobile) {
    .page-content {
        padding-top: calc(var(--header-height) + 32px);
    }
}

@media screen and (max-width: $mobile-xs) {
    .container {
        padding: 0 16px;
    }
}
