.banner-price {
    text-align: right;

    &__value {
        color: rgb(246, 248, 250);
        font-size: 24px;
        font-weight: 700;
        line-height: 132%;
    }

    &__old {
        color: rgb(255, 71, 46);
        font-size: 20px;
        font-weight: 300;
        line-height: 132%;
        text-decoration-line: line-through;
    }
}
.banner {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    border-radius: 8px;
    gap: 24px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('@/assets/img/unlock-top.png'), url('@/assets/img/unlock-bottom.png');
    background-size: 100% 8px, 100% 8px;
    background-repeat: no-repeat;
    background-position: top center, bottom center;

    &__left {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        color: rgba(255, 255, 255, 0.92);
        font-size: 20px;
        font-weight: 700;
        line-height: 132%;
    }

    &__description {
        color: rgb(157, 162, 173);
        font-size: 18px;
        font-weight: 500;
        line-height: 146%;
        max-width: 270px;
    }

    &__right {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

@media screen and (max-width: $tablet) {
    .banner {
        flex-direction: column;
        height: auto;
    }
}

@media screen and (max-width: $mobile) {
    .banner {
        &__right {
            justify-content: space-between;
        }
    }
}
