.requests {
    margin-top: 60px;

    &__table {
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.2);
        padding: 20px;
        margin-top: 40px;
    }

    &__head-time {
        width: 160px;
        height: 32px;
        border: 2px solid rgba(255, 255, 255, 0.92);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.92);
        font-size: 12px;
        font-weight: 600;
        line-height: 152%;
    }

    &__head-type {
        height: 32px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.92);
        font-size: 12px;
        font-weight: 600;
        line-height: 152%;
        flex-grow: 1;
    }

    &__item,
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        gap: 16px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__head {
        border-top: none;
        padding-top: 0;
    }

    &__time {
        width: 160px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.92);
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.2);
        padding: 10px;
        color: rgba(255, 255, 255, 0.92);
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
    }

    &__description {
        flex-grow: 1;
        display: flex;
        gap:16px;
        align-items: center;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}

.requests-fallback {
    margin-top: 60px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);

    &__inner {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        border: 1px dashed rgba(255, 255, 255, 0.2);
        border-radius: 8px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 132%;
    }

    &__description {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
    }
}

@media screen and (max-width: $phablet) {
    .requests {
        &__item {
            flex-wrap: wrap;
            gap: 16px;
        }

        &__time {
            order: 1;
        }

        &__description {
            order: 3;
            width: 100%;
        }

        &__actions {
            order: 2;
        }
    }
}

@media screen and (max-width: $mobile-xs) {
    .requests {
        &__item {
            gap: 8px;
            width: 100%;
        }

        &__time {
            width: calc(41% - 4px);
            font-size: 12px;
            padding: 10px 5px;
        }

        &__description {
            order: 3;
            width: 100%;
        }

        &__actions {
            width: calc(59% - 4px);
            .btn {
                width: 100%;
            }
        }
    }
}
