.payment-type {
    display: flex;
    gap: 32px;
    margin-top: 80px;

    &__icon {
        padding: 20px;
        border-radius: 16px;
        backdrop-filter: blur(8px);
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        &--mir {
            background: rgba(34, 120, 198, 0.4);
        }
        &--bitcoin {
            background: rgba(250, 178, 39, 0.4);
        }
        &--usdt {
            background: rgba(226, 124, 0, 0.4);
        }
        &--qiwi {
            background: rgba(226, 124, 0, 0.4);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    &__text {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 132%;
        color: #fff;
    }

    &__change-btn {
        font-weight: 600;
        font-size: 13px;
        line-height: 132%;
        color: #888beb;
    }

    &__card {
        display: flex;
        align-items: flex-end;
        gap: 32px;
    }

    &__wallet {
        display: flex;
        gap: 1px;
    }

    &__wallet-number {
        width: 18px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgb(217, 217, 217);
        background: linear-gradient(180.00deg, rgba(217, 217, 217, 0),rgba(217, 217, 217, 0.04) 100%);

        &:nth-child(4n + 1) {
            margin-left: 8px;
        }
        &:first-child {
            margin-left: 0;
        }
    }

    &__copy {
    }
}
.payment {
    max-width: 680px;
    margin: auto;
}

.payment-check {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    display: flex;
    gap: 40px;
    margin-top: 80px;

    &__text {
        font-weight: 700;
        font-size: 20px;
        line-height: 132%;
        color: #fff;
        max-width: 325px;
    }

    &__btn {
        margin-left: auto;
        width: 200px;
    }
}

.subtitle--centered {
    text-align: center;
    margin-top: 16px;
}

@media screen and (max-width: $tablet){
    .payment-type {
        justify-content: center;

        &__card {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
@media screen and (max-width: $phablet){
    .payment-check {
        flex-wrap: wrap;
        gap: 20px;

        svg {
            width: 34px;
        }

        &__text {
            width: calc(100% - 20px - 34px);
            font-size: 16px;
        }

        &__btn {
            margin-left: 54px;
            width: 200px;
        }
    }
}

@media screen and (max-width: $mobile) {
    .payment-type {
        justify-content: center;

        &__icon {
            width: 100px;
            height: 60px;
        }

        &__text {
            flex-direction: column;
            align-items: flex-start;
        }

        &__wallet-number {
            width: 12px;
        }
    }
}

@media screen and (max-width: $mobile-xs) {
    .payment-type {
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__text {
            align-items: center;
        }

        &__card {
            align-items: center;
        }
    }

}
