.auth-form {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    max-width: 440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    &__icon {
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 28px;
        font-weight: 700;
        line-height: 132%;
    }

    &__fields-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__field {
        width: 100%;
    }

    &__input {
        width: 100%;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.08);
        height: 52px;
        padding: 10px 16px;
        font-size: 15px;
        font-weight: 400;
        line-height: 132%;
        color: #fff;

        &::placeholder {
            color: rgb(157, 162, 173);
        }
    }
}

.registration__wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 80px;

    .auth-form {
        margin-right: 0;
        margin-top: 0;
        margin-left: 0;
        max-width: 340px;
        border-radius: 8px 0 0 8px;
        padding-right: 20px;
        justify-content: space-between;
    }

    .advantages {
        padding: 40px;
        max-width: 100%;
        padding-left: 20px;
        border-radius: 0 8px 8px 0;
    }
}

@media screen and (max-width: $tablet) {

    .registration__wrapper {
        flex-direction: column;
        align-items: center;

        .auth-form {
            max-width: 440px;
            border-radius: 8px 8px 0 0;
            padding: 40px;
        }

        .advantages {
            max-width: 440px;
            border-radius: 0 0 8px 8px;
            padding: 40px;
        }
    }


}

@media screen and (max-width: $mobile-xs) {
    .registration__wrapper {
        .auth-form {
            padding: 40px 20px;
        }

        .advantages {
            padding: 20px;
        }
    }

    .auth-form {
        padding: 40px 20px;
    }
}
